html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack top and bottom vertically */
}

.top {
    height: 10%; /* Top section takes up 10% of the height */
    background-color: #2a8078; /* Background color for the top section */

    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: space-between; /* Distribute space evenly between the items */
    padding: 0 20px; /* Add some padding for spacing */
    z-index: 2;
}

.bottom {
    height: 90%; /* Bottom section takes up the remaining 90% */
    background-color: #2ecc71; /* Background color for the bottom section */
    width: 100%;
    display: flex; /* Turn the bottom div into a flex container */
    flex-direction: row; /* Stack children vertically */
}

.usernameTopBar {
    text-align: left; /* Align text to the left */

    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
}

.deviceNameTopBar {
    text-align: center; /* Center align the device name */
    flex-grow: 1; /* Allow this element to take up remaining space */

    font-size: 18px;
    color: #ffffff;
    font-family: sans-serif;

}

.logoutButton {
    background-color: #f04e23;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: bolder;
    padding: 10px 20px; /* Add padding to make the button look nice */
    cursor: pointer;
    font-family: sans-serif;
    /* Ensuring that the button is aligned to the right */
    margin-left: auto; /* Push it to the right of the flex container */
    border-radius: 5px;
}

.logoutButton:hover {
    background-color: #cb5029;
    transition: 0.5s;
}

.sideMenuMain {
    background-color: #3aa19e; /* Color for the side menu */
    width: 15%; /* Fixed width for the side menu */
    height: 100%; /* Full height of the bottom section */

    overflow: hidden;

    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    box-sizing: border-box;
    z-index: 2;
}

.mainContent {
    background-color: #fff; /* Main content area color */
    flex-grow: 1; /* Take up the remaining space */
    height: 100%;
    overflow-y: auto; /* This will work now */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    gap: 10px; /* Add space between the frames */

}

.searchContainer {
    display: flex;
    width: 100%; /* Ensures the container is full width */
    height: 80px; /* Adjust the height as needed */
}

.searchInput {
    flex: 1; /* This allows the input field to take up the available space */
    width: 50%;
    box-sizing: border-box;
}

.searchButton {
    height: 100%;
    width: auto; /* Adjusts the button width */
    background-color: #f04e23; /* Button color */
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.devicesContainer {
    width: 100%; /* Full width */
    margin-top: 5px; /* Margin from the top */
    flex-grow: 1; /* This makes the container take the remaining space */
    border: 2px solid #000; /* Optional border for visualization */
    box-sizing: border-box;
    padding: 10px; /* Optional padding */
    overflow-y: auto; /* Allow vertical scrolling if the content overflows */

    display: flex;            /* Use Flexbox for layout */
    flex-direction: column;   /* Stack buttons vertically */
    align-items: flex-start;  /* Align buttons to the top of the container */
    gap: 5px;  /* Space between buttons */

    


}

.buttonZariadenie {
    background-color: #1d6968; /* Optional: style the button */
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    height: 40px; /* Adjust the height of the buttons */
    line-height: 40px; /* Vertically center text in button */
    font-size: 14px; /* Optional: Adjust font size to fit within the button */
    width: 95%;
    font-family: sans-serif;
    border-radius: 5px;
}

.buttonZariadenie:hover {
    background-color: #1a6c5b; /* Darker color when hovered */
    transition: background-color 0.5s; /* Smooth transition for hover effect */
}

.zariadenieButtonsBar {
    display: flex; /* Enables flexbox layout */
    justify-content: flex-start; /* Centers the buttons horizontally */
    align-items: center; /* Centers the buttons vertically */
    gap: 5px; /* Adds space between buttons */
    padding: 10px 0; /* Adds vertical padding to space the bar out within the main content */
    background-color: #f5f5f5; /* Optional: Add background color to the top bar */
    z-index: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.grafButtons {
    background-color: #2a8078; /* Color for the button */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Optional: rounded corners for the buttons */
    margin-left: 1em;
}

.grafButtons:hover {
    background-color: #1a6c5b; /* Darker color when hovered */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.grafContainer {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px; /* Add padding to all sides */

    box-sizing: border-box; /* Ensure padding is included in the element's total size */
    overflow: hidden; /* Hide any overflowed content */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.canvas {
    width: 100%;
    height: 100%;
}

.devicesContainer::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar handle (the part that the user drags) */
.devicesContainer::-webkit-scrollbar-thumb {
    background-color: #45aba8; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Round corners for the scrollbar thumb */
    border: 2px solid #21706e; /* Border around the thumb */
}

/* Style the scrollbar track (area the thumb slides within) */
.devicesContainer::-webkit-scrollbar-track {
    background: #c7f5f2; /* Track color */
    border-radius: 10px; /* Round corners for the track */
}

/* Style the scrollbar on hover */
.devicesContainer::-webkit-scrollbar-thumb:hover {
    background-color: #2a9086; /* Darker color on hover */
}

.devicesContainer::-webkit-scrollbar-thumb {
    background-color: #45aba8;
    border-radius: 5px;
}


